 :root {

     --size-sm: 16px;
     --size-md: 48px;
     --size-lg: 64px;

     --color-accent-hue: 270;
     --color-accent: hsl(var(--color-accent-hue), 80%, 50%);

     --color-dark-0: hsl(0, 0%, 0%);
     --color-dark-1: hsl(0, 0%, 10%);
     --color-dark-2: hsl(0, 0%, 20%);
     --color-dark-3: hsl(0, 0%, 30%);
     --color-dark-4: hsl(0, 0%, 40%);


     --color-bright-0: hsl(0, 0%, 100%);
     --color-bright-1: hsl(0, 0%, 90%);
     --color-bright-2: hsl(0, 0%, 80%);
     --color-bright-3: hsl(0, 0%, 70%);
     --color-bright-4: hsl(0, 0%, 60%);

     --color-text-default: var(--color-dark-1);
     --color-bg-default: var(--color-bright-1);

     --border-default: 4px solid hsl(0, 0%, 50%);
     --border-accent: 4px solid var(--color-accent);

     --border-radius-default: var(--size-lg);
     --border-radius-circle: 50%;

 }