:root {
    --size-0: 0.1rem;
    --size-1: 0.2rem;
    --size-2: 0.3rem;
    --size-3: 0.5rem;
    --size-4: 2rem;
    --size-5: 2.5rem;

    --color-dark-0: hsl(0, 0%, 0%);
    --color-dark-1: hsl(0, 0%, 10%);
    --color-dark-2: hsl(0, 0%, 20%);
    --color-dark-3: hsl(0, 0%, 30%);
    --color-dark-4: hsl(0, 0%, 40%);

    --color-bright-0: hsl(0, 0%, 100%);
    --color-bright-1: hsl(0, 0%, 90%);
    --color-bright-2: hsl(0, 0%, 80%);
    --color-bright-3: hsl(0, 0%, 70%);
    --color-bright-4: hsl(0, 0%, 60%);

    --color-bg-default: var(--color-bright-2);
    --color-text-default: var(--color-dark-1);
    --color-accent: hsl(270, 80%, 50%);

    --border-default: var(--size-2) solid var(--color-bright-3);
    --border-accent: var(--size-2) solid var(--color-accent);

}